html, body, * {
    background: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/* Hey, if you are seeing this. I put the webpage in dark mode, and the background from the body is white. What a average prank! */